.Contact-Page {
    margin-top: 100px;  
    padding-top: 100px;
    height: 90vh;
    margin: 0% 15%;
}

.ContactContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ContactContent h2 {
  font-weight: normal;
}

.ContactLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3%;
}

.ContactLinkBox {
  flex: 1;
  display: flex;
  padding: 1% 3%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px #B6C3FD solid;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.ContactLinkBox:hover {
  background-color: #293981;
  transform: translate(-2px, -2px);
}

.ContactLinkBox img {
  height: 30px;
}

.ContactLinkBox h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #c7d1fd
}

.ContactFormIntro {
  margin: 1% 5%;
}
