.SectionHeader {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    gap: 5%;
}

.SectionHeaderLine {
    border-bottom: 5px solid #FFAE64;
    border-radius: 20px;
    width: 100%;
}

.SectionHeader h1 {
    text-align: left;
    font-size: 200%;
    width: 100%;
}