html {
  background-color: #1E254B;
  overflow-x: hidden;
}

.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Loader {
  position: absolute;
  height: 100vh;
}

h1 {
  font-family: 'Lily Script One', 'cursive';
  font-size: 100px;
  color: #FFAE64;
  text-shadow: #583610 2px 2px 1px;
  margin: 0%;
}

h2 {
  font-family: 'DM Sans', normal;
}

h3 {
  font-family: 'DM Mono', normal;
}

h4 {
  font-family: 'DM Sans', normal;
  margin: 0;
  font-weight: 300;
  font-size: 80%;
}

h5 {
  font-family: 'DM Sans', normal;
  font-size: 60%;
  text-align: right;
}

h6 {
  font-family: 'DM Mono', normal;
  font-size: 60%;
  font-weight: 300;
}

p {
  font-family: 'DM Sans', normal;
  margin: 0%;
  font-size: 1.1rem;
  text-align: justify;
}

::-webkit-scrollbar {
  width: 10px
}

::-webkit-scrollbar-thumb {
  background-color: #FFAE64;
  border-radius: 10px;
  border: 2px solid #1E254B;
}

::-webkit-scrollbar-track {
  background-color: #1E254B;
}